.bg-header{
    height: 100px;
    background-image: url(./img/pattern.png);
    background-color: #4ea0ff;
}
.logo-header{
    width: 200px;
    height: 100px;
    background-image: url(./img/logo.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}
.sub-title{
    color: #808080;
}
a{
    text-decoration: none;
    color: #38b2e8;
}
figcaption{
    font-size: 12px;
}
span{
    background-color: #ffff00;
}

th{
    background-color: #20a9e5;
}
.table-color{
    background-color: #b1e5f2;
}