.bg-header{
    height: 150px;
    background-image: url(./img/pattern.png);
    background-color: #4ea0ff;
}
.logo-header{
    width: 300px;
    height: 150px;
    background-image: url(./img/logo.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}